body{
  background-color: yellow;
  font-family: helvetica;
  font-size: 0.875em; 
  padding: 50px;
}

p{
  padding:20px;
  border: 2px solid #000;
}
html{
  padding-bottom: 50px;
    padding-left: 50px;
    border-top-width: 30px;
    padding-top: 30px; background-color: yellow;>
}

h1{
  color:black;
  font-family:helvetica;
}

  
