
*{
	border:0;
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html,body{
	height:100%;
	font-family: Helvetica;
}



/*Typography*/

h1{
	
	font-size: 48px;
	font-weight:700;
	color: black;
	letter-spacing: 0;
	text-align: center;
	line-height: 1.1;
	font-style:italic;
}

h2{

	font-weight:500;
	font-size: 14px;
	color: black;
	letter-spacing: 0;
	line-height: 1.3;
	margin:20px 0 0 0;
	font-style: italic;

}


h3{
	
	font-weight:1800;
	font-size: 120px;
	color: black;
	letter-spacing: 0;
	line-height: 1.3;
	margin: 40px 0 20px 0;
	font-style: italic;

}

a{
	color:black;
	text-decoration:none;
}


p{
	
	font-weight:300;
	font-size: 17px;
	color: #393D3C;
	letter-spacing: 0;
	line-height: 1.4;
	margin-bottom: 20px;
}




/*Layout*/

.grid-base{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}

.grid-base .col{
	height:3000px;
}

.col{
	width:8.33%;
	border:1px dashed rgba(255,0,0,0.3);
	height:;
	display:inline-block;
	float:left;
	padding:5px;
}

.col-1{
    width:8.33%;
}

.col-2{
    width:16.66%;
}

.col-3{
    width:25%;
}

.col-4{
    width:33.33%;
}
.col-5{
    width:41.66%;
}
.col-6{
    width:50%;
}

.col-7{
    width:58.33%;
}

.col-8{
    width:66.66%;
}

.col-9{
    width:75%;
}

.col-10{
    width:83.33%;
}

.col-11{
    width:91.66%;
}

.col-12{
    width:100%;
}

.wrapper{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	margin-top:90px;
	border-top: solid;
}	

.hero{
	height:15%;
	background-size:cover;
	padding:7px;
	border:1px dashed rgba(255,0,0,0.3);
	margin-top:20px;
}

}

.meta{
	margin-left:8.33%;
	margin-top:120px;
}

.meta li{
	list-style: none;
	text-transform: uppercase;
	font-weight:300;
	font-size: 12px;
	letter-spacing: 1px;
	padding:7px 0 7px 0;
}

.nav1{
	margin-left:8.33%;
	
}

.nav2{
	margin-left:16.66%;
	
}

.nav3{
	margin-left:16.66%;
	
}

.video{
	display:absolute;
	width: 100%;
}

.large{
	margin-top:80px;
	margin-left:8.33%;
}

.content{
	margin-top:10%;
	display:inline-block;
	position:absolute;
	padding:20px;
}

.content-center{
	margin:0 auto;
	float:none;
	display:block;
	margin-left:16.66%;
	margin-right:16.6%;
}

.overlay:active{
    position: fixed; 
    display: none;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}

.strike:hover{
	color:#FF8C00;
}
